# Dependencies
node_modules/

# Environment Variables & Secrets
config.env
.env

# Uploaded Files & Attachments
public/img/attachments/*
!public/img/attachments/.gitkeep

# Server & Application Logs
*.log
npm-debug.log*

# Operating System Files
.DS_Store
Thumbs.db